
body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: #a2d2ff;
    color: #ffffff;
     background: linear-gradient(#add8e6,#8a2be2);
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #FC9B9E;
    margin-bottom: 10px;
}

#bday-age {
    background: #FC9B9E;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #FC9B9E;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 400px;
   
    
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 200px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://media1.tenor.com/m/bXwaPdcTgc8AAAAd/jethalal-funny-dance-tarak-mehta-ka-ooltah-chashmah.gif");
}

#gift-img-hot:hover {
    background-image: url("https://media.giphy.com/media/iNgip7EWyX2S4evVog/giphy.gif");
}

#gift-img-genius:hover {
    background-image: url("https://media.giphy.com/media/85Qo8lGpiuDD3sM9zh/giphy.gif");
}

#gift-img-badass:hover {
    background-image: url("https://media.giphy.com/media/uMxlQ4Th8jYHu/giphy.gif");
}

#gift-img-cheers:hover {
    background-image: url("https://media.giphy.com/media/LzwcNOrbA3aYvXK6r7/giphy.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}
